.header img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    clear: both;
    overflow: auto;
}

#container {
    background-color: darkgray;
    border-color: black;
}

.row {
    margin: 1%;
}

.rightPanel {
    text-align: center;
    width: 100%;
    margin: 5%;
}

.column div, h4{
    /* border-style: dotted;
    border-color: green; */
    font-family: 'metal mania', cursive;
    color: white;
    font-size: 2rem;
}

#displayBandAndSong h4 {
    /* text-align: center; */
    width: 100%;
    margin: 5% auto;
    float: left;
}

#mainContent {
    height: 100%;
}